<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/quanlybanhang</property>
		<property name="hibernate.connection.username">spring</property>
		<property name="hibernate.connection.password">spring</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		<property name="hibernate.show_sql">true</property>
		
		<mapping class="vn.thienphu.quanlybanhang.model.Quyen"/>
		<mapping class="vn.thienphu.quanlybanhang.model.TaiKhoan"/>
		<mapping class="vn.thienphu.quanlybanhang.model.NhanVien"/>
		<mapping class="vn.thienphu.quanlybanhang.model.LoaiSanPham"/>
		<mapping class="vn.thienphu.quanlybanhang.model.SanPham"/>
		<mapping class="vn.thienphu.quanlybanhang.model.Anh"/>
		
	</session-factory>
</hibernate-configuration>
